<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body>
    <h:form>
    	<rich:panel>
			<h:outputLabel value="Ajout d'un menu"></h:outputLabel>
		</rich:panel>
		<rich:panel>
			Nom
		    <h:inputText value="#{addBean.name}" />	
		    Price
		    <h:inputText value="#{addBean.price}" />			    
		</rich:panel>
		<rich:panel>		    
			<h:commandButton value="Ajouter le menu" action="#{addBean.submit}"></h:commandButton>
			<h:commandButton value="Retour à l'accueil" action="addToMenu"></h:commandButton>
		</rich:panel>
	</h:form>
</body> 
</html>
