<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body>
    <h:form>
		<rich:panel>
			<h:outputLabel value="Toutes les commandes"></h:outputLabel>
		</rich:panel>
		<rich:panel>
			<a4j:jsFunction name="selectRow">
				<a4j:param name="commandId"
					assignTo="#{allBean.selectedCommandId}" />
			</a4j:jsFunction>
			
			<h:commandButton action="#{allBean.refresh}" id="btn_rfsh" value="Rafraichir"></h:commandButton>
		
			<rich:extendedDataTable id="tableCommands" var="command" value="#{allBean.commands}" onrowclick="selectRow('#{command.getId()}')"
				selectionMode="single">
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Numéro de commande" />
					</f:facet>
					<h:outputText value="#{command.getId()}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Numéro de table" />
					</f:facet>
					<h:outputText value="#{command.getTableId()}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Prise à" />
					</f:facet>
					<h:outputText value="#{command.getTakenAt()}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Prête à" />
					</f:facet>
					<h:outputText value="#{command.getReadyAt()}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Finie à" />
					</f:facet>
					<h:outputText value="#{command.getFinishedAt()}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Payée à" />
					</f:facet>
					<h:outputText value="#{command.getPayedAt()}" />
				</rich:column>
			</rich:extendedDataTable>
		</rich:panel>		
		<rich:panel>
			<h:commandButton action="#{allBean.load}" id="btn_load" value="Voir" ></h:commandButton>
			Commande N° <h:outputText value="#{allBean.id}"></h:outputText>
			Table N° <h:outputText value="#{allBean.tableId}"></h:outputText>
			Prise à  <h:outputText value="#{allBean.takenAt}"></h:outputText>
			Prête à  <h:outputText value="#{allBean.readyAt}"></h:outputText>
			Finie à  <h:outputText value="#{allBean.finishedAt}"></h:outputText>
			Payée à  <h:outputText value="#{allBean.payedAt}"></h:outputText>
			<rich:panel>
				Détails
				<rich:dataTable id="tableDetails" var="menu" value="#{allBean.menus}">
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Boisson" />
						</f:facet>
						<h:outputText value="#{menu.getName()}" />
					</rich:column>
				</rich:dataTable>
			</rich:panel>
		</rich:panel>
		<rich:panel>
			<h:commandButton action="allToIndex" id="btn_return" value="Retour"></h:commandButton>
		</rich:panel>
	</h:form>
</body> 
</html>
