<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body>
   <h:form>
		<rich:panel>
			<h:outputLabel value="Préparation de commandes"></h:outputLabel>
		</rich:panel>
		<rich:panel>
			<h:commandButton action="indexToMenu" id="btn_Menu" value="Menu"></h:commandButton>
			<h:commandButton action="indexToAll" id="btn_all" value="Toutes les commandes"></h:commandButton>
		</rich:panel>
		<rich:panel>
			<a4j:jsFunction name="selectRow">
				<a4j:param name="commandId"
					assignTo="#{indexBean.selectedCommandId}" />
			</a4j:jsFunction>
			
			<h:commandButton action="#{indexBean.refresh}" id="btn_rfsh" value="Rafraichir"></h:commandButton>
			
			<rich:extendedDataTable id="tableCommands" var="command" value="#{indexBean.commands}" onrowclick="selectRow('#{command.getId()}')"
				selectionMode="single">
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Numéro de commande" />
					</f:facet>
					<h:outputText value="#{command.getId()}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Numéro de table" />
					</f:facet>
					<h:outputText value="#{command.getTableId()}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Prise à" />
					</f:facet>
					<h:outputText value="#{command.getTakenAt()}" />
				</rich:column>
			</rich:extendedDataTable>
		</rich:panel>
		<rich:panel>
			<h:commandButton action="#{indexBean.load}" id="btn_load" value="Voir" ></h:commandButton>
			Commande N° <h:outputText value="#{indexBean.id}"></h:outputText>
			Table N° <h:outputText value="#{indexBean.tableId}"></h:outputText>
			Prise à  <h:outputText value="#{indexBean.takenAt}"></h:outputText>
			<rich:panel>
				Détails
				<rich:dataTable id="tableDetails" var="menu" value="#{indexBean.menus}">
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Boisson" />
						</f:facet>
						<h:outputText value="#{menu.getName()}" />
					</rich:column>
				</rich:dataTable>
			</rich:panel>
			<h:commandButton action="#{indexBean.finish}" id="btn_Finish" value="Commande prête" ></h:commandButton>
		</rich:panel>
	</h:form>
</body> 
</html>
