<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="FinalProjectEJB">
                
        <wb-resource deploy-path="/" source-path="/ejbModule" tag="defaultRootSource"/>
                
        <property name="java-output-path" value="/FinalProjectEJB/build/classes"/>
                
        <property name="ClientProject" value="FinalProjectClient"/>
                
        <property name="ClientJARURI" value="FinalProjectClient.jar"/>
            
    </wb-module>
    
</project-modules>
