<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body>
    <h:form>
    	<rich:panel>
			<h:outputLabel value="Ajout d'une commande"></h:outputLabel>
		</rich:panel>
		<rich:panel>
			Table
		    <h:inputText value="#{addBean.tableId}" />		    
		</rich:panel>
		<rich:panel>
			Boissons
			<h:selectOneMenu value="#{addBean.menu}" converter="#{menuConverter}">
				<f:selectItems value="#{addBean.menus}" var="menu" itemValue="#{menu}" itemLabel="#{menu.getName()}" />
			</h:selectOneMenu>
			<h:commandButton value="Ajouter" action="#{addBean.add}"></h:commandButton>
		</rich:panel>
		<rich:panel>
			Commande
			<rich:dataTable id="tableDetails" var="detail" value="#{addBean.details}">
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Boisson" />
					</f:facet>
					<h:outputText value="#{detail.getName()}" />
				</rich:column>
			</rich:dataTable>
		</rich:panel>
		<rich:panel>		    
			<h:commandButton value="Valider la commande" action="#{addBean.submit}"></h:commandButton>
			<h:commandButton value="Retour à l'accueil" action="addToIndex"></h:commandButton>
		</rich:panel>
	</h:form>
</body> 
</html>
