<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body>
    <h:form>
		<rich:panel>
			<h:outputLabel value="Liste du menu"></h:outputLabel>
		</rich:panel>
		
		<h:commandButton action="#{menuBean.refresh}" id="btn_rfsh" value="Rafraichir"></h:commandButton>
		
		<rich:panel>
			<rich:dataTable id="tableMenu" var="menu" value="#{menuBean.menus}">
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Nom" />
					</f:facet>
					<h:outputText value="#{menu.getName()}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Prix" />
					</f:facet>
					<h:outputText value="#{menu.getPrice()} €" />
				</rich:column>
			</rich:dataTable>
		</rich:panel>
		<rich:panel>
			<h:commandButton action="menuToAdd" id="btn_add" value="Ajouter une commande"></h:commandButton>
			<h:commandButton action="menuToIndex" id="btn_return" value="retour"></h:commandButton>
		</rich:panel>
	</h:form>
</body> 
</html>
